@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap");
body {
  margin: 0;
}
#content {
  max-width: 1600px;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans", sans-serif;
}

/* Header CSS */
header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #e8e3d3;
}
header img {
  display: block;
  grid-column: 1/2;
  max-width: 70%;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-around;
  z-index: 1;
}
nav a {
  text-align: center;
  font-family: Roboto, Helvetica, sans-serif;
  color: #461257;
  text-decoration: none;
  padding: 45px;
  margin: auto;
}
nav a:hover {
  background-color: #461257;
  color: white;
}

/* Main Home CSS */

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #461257;
}
.home-title {
  grid-column: 1/3;
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
}
.music-card {
  grid-column: 1/2;
  text-align: center;
  font-size: 0.8em;
}
.sw-card {
  grid-column: 2/3;
  text-align: center;
  font-size: 0.8em;
}
.card-img {
  border-radius: 20px;
  border: 5px solid #461257;
  width: 60%;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

/* Footer CSS */
footer {
  background-color: #e8e3d3;
  padding: 25px 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer-top-line {
  color: #461257;
}
footer a {
  color: #461257;
  text-decoration: none;
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  main {
    display: block;
    height: auto;
  }
  header a {
    display: block;
    margin: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  .home-title {
    font-size: 25px;
    padding-bottom: 0;
  }
  .music-card,
  .sw-card {
    margin: 50px auto;
    width: 75%;
  }
  footer {
    margin-top: 25px;
  }
}
